.App {
  text-align: center;
  background-color: #1e1f21;
  color: rgb(255, 255, 255);
  padding: 20px;
} 

/* Обновленные стили для кнопки с изображением */
.button {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background: #282c34;
  margin: 15px;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s;
  pointer-events: none;
}

.button:hover::before {
  background: rgba(0, 0, 0, 0.3);
}

.thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  transition: transform 0.2s ease;
}

.tooltip {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
  opacity: 0;
  transition: opacity 0.3s;
}

.button:hover .tooltip {
  opacity: 1;
}

/* Media-запрос для мобильных устройств */
@media (max-width: 768px) {
  .tooltip {
    font-size: 0.7em;
  }
}



.title {
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  border : none;
  height: 100%;
}

.modal-content {
  /* animation: jumpOut 0.5s ease; */
  text-align: justify;
  padding: 5px;
  border-radius: 8px;
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  max-height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: fadeIn 0.3s linear forwards;
}

.modal-img {
  display: block; /* Превращаем изображение в блочный элемент */
  margin: 0 auto 20px; /* Центрируем изображение и добавляем отступ снизу */
  max-width: 100%; /* Определяем максимальную ширину картинки */
  max-height: 60vh; /* Определяем максимальную высоту картинки */
  margin-bottom: 20px;
  border-radius: 10px;
}


.modal-button-group {
  text-align: center;
  margin-top: 10px; /* Отступ сверху для кнопок */
}

.modal-text {
  flex: 1;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  max-width: 100%; /* Ограничиваем максимальную ширину текста */
  margin: 0 auto; /* Центрируем текст */
}

.modal-link {
  padding: 11px 20px;
  font-size: 24px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px; /* Внутренние отступы сверху */
  margin-right: 15px; /* Внутренние отступы справа */
  text-align: center;
}

.modal-close-btn {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px; /* Внутренние отступы сверху */
  margin-right: 15px; /* Внутренние отступы справа */
  text-align: center;
}

button {
  padding: 1px;
  border : none;
}

/* Общие стили для скролла */
::-webkit-scrollbar {
  width: 12px;
}

/* Фон скроллбара */
::-webkit-scrollbar-track {
  background: #222; /* Темный фон */
}

/* Бегающий ползунок (ползающая часть) */
::-webkit-scrollbar-thumb {
  background: #555; /* Светлее заднего фона */
  border-radius: 10px; /* Скругленные края */
}

/* При наведении курсора на бегающий ползунок */
::-webkit-scrollbar-thumb:hover {
  background: #888; /* Еще светлее заднего фона */
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Движение вверх при появлении */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600000deg);
  }
}

@keyframes jumpOut {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@import url('./fonts.css');

.myText {
  font-family: 'Bruh', sans-serif;
}
