.App {
  text-align: center;
  background-color: #282c34; /* Цвет фона */
  color: rgb(255, 255, 255); /* Цвет текста */
  padding: 20px;
}

.title {
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* App.css */

body {
  font-family: Lobster, sans-serif;
  background-color: #f0f0f0;
  padding: 0;
  border : none;
}

/* Кнопки */
.button {
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 1000000000000000000000000000000000000000000px; /* Добавляем позиционирование для кнопок */
  background-color: #282c34;
}



.thumbnail {
  width: 20vw;
  height: auto;
}


.modal-content {
  animation: jumpOut 0.5s ease;
  text-align: left;
  padding: 5px;
  border-radius: 8px;
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  max-height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* /* animation: fadeIn 0.2s linear forwards; */
}

.modal-img {
  display: block; /* Превращаем изображение в блочный элемент */
  margin: 0 auto 20px; /* Центрируем изображение и добавляем отступ снизу */
  max-width: 100%; /* Определяем максимальную ширину картинки */
  max-height: 60vh; /* Определяем максимальную высоту картинки */
  margin-bottom: 20px;
  border-radius: 10px;
}


.modal-button-group {
  text-align: center;
  margin-top: 10px; /* Отступ сверху для кнопок */
}

.modal-text {
  flex: 1;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  max-width: 100%; /* Ограничиваем максимальную ширину текста */
  margin: 0 auto; /* Центрируем текст */
}

.modal-link {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px; /* Внутренние отступы сверху */
  margin-right: 15px; /* Внутренние отступы справа */
  text-align: center;
}

.modal-close-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px; /* Внутренние отступы сверху */
  margin-right: 15px; /* Внутренние отступы справа */
  text-align: center;
}

button {
  padding: 0;
  border : none;
}

/* Общие стили для скролла */
::-webkit-scrollbar {
  width: 12px;
}

/* Фон скроллбара */
::-webkit-scrollbar-track {
  background: #222; /* Темный фон */
}

/* Бегающий ползунок (ползающая часть) */
::-webkit-scrollbar-thumb {
  background: #555; /* Светлее заднего фона */
  border-radius: 10px; /* Скругленные края */
}

/* При наведении курсора на бегающий ползунок */
::-webkit-scrollbar-thumb:hover {
  background: #888; /* Еще светлее заднего фона */
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Движение вверх при появлении */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes jumpOut {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}